127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

##Section is for {{ domain }} Environment##
{{ laptop_ip_address }} {{ laptop_hostname }} {{ laptop_shortname }}
{{ satellite_ip_address }} {{ satellite_hostname }} {{ satellite_shortname }}
{{ tower_ip_address }} {{ tower_hostname }} {{ tower_shortname }}
{{ idm_ip_address }} {{ idm_hostname }} {{ idm_shortname }}
{{ cloudforms_ip_address }} {{ cloudforms_hostname }} {{ cloudforms_shortname }}

##Section is for Ansible Workshop##
